.filter__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.filter__input {
  padding: 0.5rem 1rem;
  min-width: 15rem;
  width: 40vw;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  background-color: #e1ebfd;

  &:focus {
    outline: none;
  }
}
